*{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/assets/img/fondo.jpg);
    background-size: cover;       /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    color: aliceblue;
}

/*aqui comienzan las instrucciones del main para el encabezado*/
main{
    display: flex;
    align-items: center;
    
}

#logo{
    width: 100px;
}
/*aqui terminan las instrucciones del main*/

/*aqui comienzan las especificaciones del contenedor para pedir la ip al usuario*/

#ip_usuario{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 60px;
}
/*aqui terminan las especificaciones del contenedor para pedir la ip al usuario*/

/*aqui comienzan las especificaciones del contenedor del boton de busqueda*/
#contenedor_boton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/*aqui terminan las especificaciones del contenedor del boton de busqueda*/

/*aqui comienzan las especificaciones del contenedor general de la informacion de la ip*/

#geolocalizacion{
    display: none;
    flex-wrap: wrap;

}
/*aqui terminan las especificaciones del contenedor general de la informacion de la ip*/

/*especificaciones de las tarjetas donde se mostrara la informacion de la ip*/
.cards{
    
    flex-grow: 1;
    width: 200px;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 5px 4px 5px darkgray;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*especificaciones de las tarjetas donde se mostrara la informacion de la ip*/


footer{
    display: flex;
}